body{
	/*background: url('https://source.unsplash.com/BeIvjuz6k2k/1600x900');*/
	/*background: url('https://source.unsplash.com/Z7JQDDiz3_8/1600x900');	*/
	/*background: url('https://source.unsplash.com/HWIOLU7_O6w/1600x900');*/
	/*background: url('https://source.unsplash.com/R3pUGn5YiTg/1600x900');	*/
	/*background: url('https://source.unsplash.com/4d8vh-AWRcg/1600x900');*/
	/*background: url('https://source.unsplash.com/Kan3fvtMTE8/1600x900');*/
	/*background: url('https://source.unsplash.com/aI1tDC8PaLM/1600x900'); */
	/*background: url('https://source.unsplash.com/utqJcneoFjo/1600x900');*/
	background: url('https://source.unsplash.com/Nte-4RiRfwU/1600x900');
	color: #333;
	/*margin: 0 auto;*/
	font-family: Lato;
	/*font-style: italic;*/
	/*background: #EFEBEB;*/
	opacity: 0.85;
}
.container{
	margin: 0 auto;
}
h1{
	/*font: Lato;*/
}
#accordion{
	margin: 0 auto;
	width: 650px;
	background-color: #bbb;
}
.ui-accordion{
	opacity: 0.75;
}
hr{
	border-top: 1px solid #999;
}